
@{
    ViewData["Title"] = "MergeFiles";
}

<h2>Put the files on C:\PDF to merge</h2>




@using (@Html.BeginForm("MergeFiles", "MergePDF", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    
    @Html.ActionLink("Merge Files", "MergeFiless", "MergePDF", "MergePDFController/MergeFiless")
}
