
@{
    ViewData["Title"] = "Merge Files";
}

<h2>Files has been merged and will be in ~\wwwroot\ Folder named Merged PDF</h2>
<td>
    @Html.ActionLink("Click to download", "DownloadFile","MergePDF")
    @*@Html.ActionLink("Delete", "DeleteFile", new { id = item.id})*@
</td>

